[bumpversion]
current_version = 0.2.3
commit = True
tag = True
tag_name = v{new_version}
message = Bump version: {current_version} → {new_version}

[bumpversion:file:gaitsetpy/_version.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:gaitsetpy/_version.py:__version_info__]
search = __version_info__ = {current_version_info}
replace = __version_info__ = {new_version_info}
